@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Orbitron:wght@400..900&display=swap');

html, body{
    cursor: none;
    box-sizing: border-box;
    font-family: "Orbitron", serif;
    overflow-x: hidden;
}

#myName {
    pointer-events: none;
    color: #7bff00;
    text-shadow: 3px 4px 4px #000000, 5px 3px 17px #077807, 1px 0px 18px rgb(99 35 35 / 80%);
}

/* Custom Cursor */
#cursor {
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    transition: all 0.15s ease;
}

/* Dynamic Text Loading */
.char {
    display: inline-block;   /* Ensure hover effect applies properly */
    transition: transform 0.4s ease, font-size 0.4s ease;   /* Smooth transition */
}

.char:hover {
    transform: scale(0.5);   /* Corrected scaling */
    font-size: 1em;   /* Adjust font size properly */
}